@import './style.variables.scss';
@import './style.mixins.scss';
@import '~quasar/src/css/index.sass';

body.body--light {
    .active-elem {
        color: $primary;
        background: $bg-primary-light;

        .q-tab__indicator {
            background-color: $primary;
        }
    }

    .bg-0 {
        background: $bg-0-light;
    }

    .bg-1 {
        background: $bg-1-light;
    }

    .btn-secondary {
        background: $bg-btn-secondary-light;
        color: $fg-btn-secondary-light;
        text-transform: none;
    }
}

body.body--dark {
    background: #333333;

    .active-elem {
        color: #ffffff;
        background: $bg-primary-dark;

        .q-tab__indicator {
            background-color: $primary;
        }
    }

    .bg-0 {
        background: $bg-0-dark;
    }

    .bg-1 {
        background: $bg-1-dark;
    }

    .btn-secondary {
        background: $bg-btn-secondary-dark;
        color: $fg-btn-secondary-dark;
        text-transform: none;
    }
}

.flex-grow {
  flex-grow: 1;
}
  
.direction-column {
  flex-direction: column;
}

.direction-row{
  flex-direction: row;
}

.content-height {
    height: calc(100vh - #{$status-bar-height});
}

#password-list, #password-tree {
    height: calc(100vh - #{$status-bar-height} - #{$overview-top-height});
    width: 100%;
}

.no-status-bar {
    .content-height {
        height: calc(100vh);
    }

    #password-list, #password-tree {
        height: calc(100vh - #{$overview-top-height});
    }
}

.styled-scrollbar {
    @include styled-scrollbar
}

.vue-recycle-scroller__item-wrapper {
    min-width: fit-content;
    width: 100%;
}

* {
  -webkit-user-select:none;
}

.q-badge.floating-top {
    position: absolute;
    top: -4px;
    right: -3px;
    cursor: inherit;
}

.q-badge.floating-bottom {
    position: absolute;
    bottom: -4px;
    right: -3px;
    cursor: inherit;
}

.notification-above-status-bar {
  margin-bottom: 24px;
}

.menu-button {
    .q-btn__wrapper {
        padding: 0px 0px;
    }
}

textarea {
    resize: none !important;
    @include styled-scrollbar
}

.settings-btn-toggle {
  .q-btn-group button.text-white {
        background: $primary !important;
  }
}

body.body--light {
  .settings-btn-toggle {
    .q-btn-group button {
        background: $grey-4;
    }
    &:hover .q-btn-group button {
        background: $grey-1; 
    }
  }
}

body.body--dark {
  .settings-btn-toggle {
    .q-btn-group button {
        background: $grey-8;
    }
  }
}