@mixin styled-scrollbar {
    &::-webkit-scrollbar{
        display: none;
        background: transparent;
        width: 10px;
        margin-right: -10px;
    }

    &.always::-webkit-scrollbar{
        -webkit-appearance: none;
        display: block;
    }

    &:hover::-webkit-scrollbar{
        display: block;
    }

    &::-webkit-scrollbar:vertical {
        width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255,255, 255, 0.2);
        border-radius: 0px;
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}