@import './style.variables.scss';
@import '~quasar/src/css/index.sass';

body.body--light {
    .active-elem {
        color: $primary;
        background: $bg-primary-light;
    }

    .bg-0 {
        background: $bg-0-light;
    }

    .bg-1 {
        background: $bg-1-light;
    }
}

body.body--dark {
    background: #333333;

    .active-elem {
        color: #ffffff;
        background: $bg-primary-dark;
    }

    .bg-0 {
        background: $bg-0-dark;
    }

    .bg-1 {
        background: $bg-1-dark;
    }
}

.flex-grow {
  flex-grow: 1;
}
  
.direction-column {
  flex-direction: column;
}

.direction-row{
  flex-direction: row;
}

$footer-height: 25px;

.footer-height {
    height: $footer-height
}
.content-height {
    height: calc(100vh - #{$footer-height}) 
}

* {
  -webkit-user-select:none;
}