// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$light     : #ffffff;
$dark      : #333333;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar/src/css/variables.sass';

$bg-0-light: $light;
$bg-0-dark : $dark;

$bg-1-light: #fafafa;
$bg-1-dark : #252426;

$bg-primary-light: rgba($primary, $alpha: .2);
$bg-primary-dark: rgba($primary, $alpha: .3);

$bg-neg: rgba($negative, $alpha: .2);
$bg-warn: rgba($warning, $alpha: .2);

$footer-height: 25px;
$filter-height: 56px;
