@import './style.variables.scss';
@import './style.mixins.scss';
@import '~quasar/src/css/index.sass';

body.body--light {
    .active-elem {
        color: $primary;
        background: $bg-primary-light;
    }

    .bg-0 {
        background: $bg-0-light;
    }

    .bg-1 {
        background: $bg-1-light;
    }
}

body.body--dark {
    background: #333333;

    .active-elem {
        color: #ffffff;
        background: $bg-primary-dark;
    }

    .bg-0 {
        background: $bg-0-dark;
    }

    .bg-1 {
        background: $bg-1-dark;
    }
}

.flex-grow {
  flex-grow: 1;
}
  
.direction-column {
  flex-direction: column;
}

.direction-row{
  flex-direction: row;
}

.content-height {
    height: calc(100vh - #{$status-bar-height});
}

#password-list, #password-tree {
    height: calc(100vh - #{$status-bar-height} - #{$overview-top-height});
    width: 100%;
}

.no-status-bar {
    .content-height {
        height: calc(100vh);
    }

    #password-list, #password-tree {
        height: calc(100vh - #{$overview-top-height});
    }
}

.styled-scrollbar {
    @include styled-scrollbar
}

.vue-recycle-scroller__item-wrapper {
    min-width: fit-content;
    width: 100%;
}

* {
  -webkit-user-select:none;
}

.q-badge.floating-top {
    position: absolute;
    top: -4px;
    right: -3px;
    cursor: inherit;
}

.q-badge.floating-bottom {
    position: absolute;
    bottom: -4px;
    right: -3px;
    cursor: inherit;
}

.notification-above-status-bar {
  margin-bottom: 24px;
}